/*-------------EVERYTHING-------------*/
*{
    margin: 0px;
    padding: 0px;
}

/*-------------BASIC SECTIONS-------------*/
html{
    background-color: #6fa2e6;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div{
    height: 100%;
    width: 40%;
}

main{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #000099;
    color:#FFFF63;
    min-height: auto;
    padding-top: 20px;
}

/*-------------TEXT-------------*/
h1{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    text-align: center;
}

h2{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-decoration: underline;
}

p, label, output[type=text]{
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

label:hover{
    cursor:text;
}

/*-------------FORM INPUTS AND SELECTIONS-------------*/
#inputInfo{
    margin: 10px;
}

input[type=submit], input[type=button]{
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;

    border-radius: 0px;
    border: none;
    box-shadow: 5px 5px #000099;
    
    background-color: #FFFF63;

    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    transition: 0.2s;
}

input[type=submit]:hover, input[type=button]:hover{
    cursor: pointer;
    box-shadow: 8px 8px #000099;
    color:rgb(58, 58, 58)
}

input[type=text]{
    padding: 10px 10px 0px 10px;
    margin: 10px;

    border: none;
    border-bottom: 3px solid black;
    
    background-color: #00009900;

    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    width: 200px;
    
    transition: 0.3s;
}

input[type=text]:focus{
    border-bottom: 3px solid rgb(58, 58, 58);
    outline: none;
    color: rgb(58, 58, 58);
}

select{
    padding: 10px;
    margin: 10px;

    border-radius: 0px;
    border: none;
    box-shadow: 5px 5px #000099;

    background-color: #FFFF63;

    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    transition: 0.3s;
}

select:hover{
    cursor: pointer;
    color:rgb(58, 58, 58);
}

/*-------------LANGUAGE SELECTION-------------*/
#languageSelection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin-bottom: 20px;
}

button .perso-icon{
    height: 40px;
    width: 60px;
}

button{
    background-color: #FFFF63;
    border-radius: 0px;
    border: none;
    margin: 5px;
    width:fit-content;
}

button:hover{
    cursor:pointer;
}

/*-------------SOCIALS-------------*/
.perso-icon{
    width: 50px;
    height: 50px;
    margin: 5px;
} 

a{
    color: #FFFF63;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#socials{
    display: flex;
    flex-direction: row;
}

/*-------------SPECIAL ID'S-------------*/
#title{
    margin: 10px;
    padding: 10px;

    border-radius: 0px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    
    width: fit-content;
    
    background-color: #FFFF63;
    color: #000099;
}

#outputInfo{
    margin-bottom: 30px;
}

/*-------------SMALL SCREEN CHANGES-------------*/
@media only screen and (max-width: 600px) {
    label, p, input, output{
        font-size: 30px;
        text-align: center;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    select{
        font-size: 30px;
        width: fit-content;
        height: fit-content;
    }
    main div{
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    form{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    #outputInfo{
        margin-top: 30px;
        text-align: center;
    }
    input[type=text]{
        width: 100px;
    }
    footer p{
        margin: 10px;
    }
}